[Unit]
Description=Skull Service

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/skull
ExecStart=/home/pi/skull/skull.py

[Install]
WantedBy=default.target
